:root {
  --mount-meadow: #1bbc9c;
  --white-smoke: #f0f0f0;
  --night-rider: #343434;
  --black: #191b17;
  --transition: all 0.5s ease-in-out;
}
* {
  font-family: "Hind Siliguri", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  color: var(--black);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;

  scroll-behavior: smooth;
}

/* setup & reusable stylings */
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--black);
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
  outline: 0;
  background: transparent;
}
.container {
  width: 90%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.6rem 0;
  line-height: 1.25;
  font-weight: 400;
  text-transform: capitalize;
}
.py-5 {
  padding: 5rem 0;
}

/*nav*/
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/bg.jpg) center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-attachment: fixed;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 999;
}
.brand-and-toggler {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}
.navbar-brand,
.navbar-toggler {
  font-weight: 700;
}
.navbar-brand span {
  color: blue;
}

.navbar-toggler:hover {
  color: blue;
}
.navbar-nav {
}
.nav-item {
  padding: 1rem 0;
}
.nav-link {
  font-size: 1rem;
  transition: all 0.5s ease;
  color: rgb(155, 153, 153);
  text-transform: capitalize;
}
.nav-link:hover {
  color: blue;
}
.navbar-collapse {
  display: none;
}

/*hero*/
.hero {
  color: white;

  text-align: center;
  margin: 0 3rem;
}
.hero h1 {
  font-size: 2.5rem;
}
.hero-btns button {
  outline: 0;
  border: 1px solid grey;
}
.btn-1 {
  padding: 0.6rem 2.6rem;
  color: #fff;
  border-radius: 20px;
  margin: 2rem;
  font-size: 1.1rem;

  display: none;
}
.btn-2 {
  color: #000;
  background-color: white;
  padding: 0.6rem 1rem;

  border-radius: 20px;
  margin: 2rem;
  font-size: 1.1rem;
}
.fix-nav {
  background-color: #fff;
}
/*detail*/
.detail {
  background-color: whitesmoke;
}
.title {
  text-align: center;
  font-size: 1.2rem;
}
.title h1,
h2 {
  font-weight: 600;
}
.detail-item span {
  font-size: 3rem;
}
.detail-wrapper {
  margin-top: 2rem;
}
.detail-item {
  padding: 2rem;
  margin: 2rem;

  background-color: white;
  text-align: center;
}
/*feature*/
.feature {
  background-color: rgb(0, 0, 0, 0.3);
  color: white;
}

.feature-right {
  margin-top: 3rem;
}
.feature-wrapper {
  margin-top: 3rem;
}
.feature-item {
  display: flex;
  margin: 1rem;
}
.feature-item span {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  align-self: flex-start;
  color: blue;
}

/*video*/
.video {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/video-bg.jpg) center/cover no-repeat;
  text-align: center;
  color: white;
}
.video a {
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.video h2 {
  margin-top: 2rem;
}

/*team*/
.team {
  background-color: whitesmoke;
}

.team-wrapper {
  margin-top: 3rem;
}
.team-img {
  position: relative;
}
.team-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin-right: 1rem;
  opacity: 0;
}
.team-icons a {
  font-size: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.3rem;
}
.team-icons a:hover {
  background-color: blue;
  color: white;
}
.team-img:hover .team-icons {
  opacity: 1;
}
.team-info {
  text-align: center;
  margin: 2rem;
}

/*faq*/
.faq {
  background-color: rgba(0, 0, 0, 0.3);
}
.faq-item .text {
  font-size: 1rem;
  font-weight: 300;
}
.faq-head {
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 0.5rem;
}

.faq-head h3 {
  font-size: 1.2rem;
}
.faq-content {
  padding: 0.3rem 1rem;
  height: 0;
  transition: all 1s ease;
  overflow: hidden;
}
.showFaq {
  height: 200px;
  padding: 1rem 1rem;
}
/*pricing*/
.pricing {
  background-color: whitesmoke;
}
.pricing-wrapper {
  margin-top: 3rem;
}
.pricing-item {
  text-align: center;
  padding: 2rem;
  margin: 2rem;
  border: 4px solid rgb(80, 29, 218);
}
.price span:first-child {
  color: blue;
  display: block;
  font-size: 2.2rem;
}
.price .text {
  font-size: 1.2rem;
}
.pricing-item h3 {
  font-size: 1.4rem;
  font-weight: 400;
}
.pricing-item ul li {
  padding: 1rem 0;
}

/*testimonial*/
.testimonials {
  background: linear-gradient(
      rgba(171, 175, 231, 0.6),
      rgba(161, 165, 221, 0.6)
    ),
    url(/assets/testimonial-bg.jpg) center/cover no-repeat;
}
.slider {
  position: relative;
}
.testimonials-item {
  display: none;
  width: 80%;
  margin: 0 auto;
}
#prev,
#next {
  position: absolute;
  top: 50%;
  font-size: 1.2rem;
  color: white;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  line-height: 30px;
  text-align: center;
}
#prev {
  left: 10px;
}
#next {
  right: 10px;
}
.testimonials-item.active {
  display: block;
}
.testimonials-wrapper {
  margin-top: 3rem;
}
.testimonials-img {
  border: 4px solid #fff;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2rem auto;
  padding: 0.2rem;
}
.testimonials-img img {
  border-radius: 50%;
}
.testimonials-content {
  text-align: center;
  margin-top: 6rem;
}
.name {
  font-weight: 800;
  font-size: 1.2rem;
}

/*contact*/
.contact {
  background-color: whitesmoke;
}
.contact-wrapper {
  margin-top: 3rem;
}

.contact-left form input,
.contact-left form textarea {
  width: 100%;
  display: block;
  margin: 1rem;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid gray;
}
.submit-btn {
  padding: 0.6rem 1.6rem;
  background-color: blue;
  color: white;
  border-radius: 20px;
  margin-top: 2rem;
  outline: 0;
  border: none;
}
.contact-right {
  margin-top: 3rem;
}
.contact-right div {
  padding: 1.5rem 0;
}

/*footer*/
.footer {
  text-align: center;
  padding: 3rem;
  background-color: rgb(75, 64, 64);
  color: white;
}
.footer p {
  margin-bottom: 2rem;
}
.footer-links {
  display: flex;
  justify-content: center;
}
.footer-links a {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
}
.footer-links a:hover {
  background-color: white;
  color: blue;
}
@media screen and (min-width: 992px) {
  .navbar {
    background: #fff;
    box-shadow: 7px 8px 15px 0 rgb(207, 205, 207, 0.3);
  }
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-collapse {
    display: block !important;
  }
  .navbar-nav {
    display: flex;
  }
  .nav-item {
    padding-right: 1.2rem;
  }
  .btn-1 {
    display: inline-block;
  }
  .detail-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1.5rem;
  }
  .team-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
  .feature-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
  .pricing-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .contact-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
  }
}
